body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 50px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-bottom: 10px solid black;
}

.main {
  width: 80%;
  margin: auto;
}

.col-10 {
  resize: none;
  border-left: 1px solid black;
  padding: 20px;
}

.text-area:hover {
  transition: all .3s ease-in-out;
  background-color:rgb(135, 141, 141);
  cursor: pointer;
}

.row {
  white-space: pre-wrap;
  border-top: 1px solid white;
  width: 100%;
  margin: auto;
  /* min-height: 80px; */
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  text-align: right;
  padding-right: 10px;
}

.past {
  background-color: #a3a3a3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  padding: 0px 5px;
}

.saveBtn:hover {
  text-align: left;
  transition: all .3s ease-in-out;
  background-color:#0591b1;
}

@media screen and (max-width: 900px) {

  .hour {
    transform: rotate(-90deg);
    border-top: none;
    text-align: center;
    padding: 0px 10px;


  }

}